$warnColor: #ff5248;

$simpleBoxShadow: 0px 1px 3px 0px rgba(0,0,0,0.75);

$hoverBoxShadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);

$simpleTextShadow: 0px 1px 0px rgba(0,0,0,0.4);

$grey: #6a6a6a;

$textColor: #5c5c5c;

$activeColor: #3DAFA1;

$dashedBorder: 4px dashed $grey;