<div class="movies-list-item-wrapper">
	<img class="movie-preview" ng-src="{{$ctrl.movieData.previewImage}}">
	<h3 class="movie-name">{{$ctrl.movieData.name}}</h3>
	<div ng-if="$ctrl.movieData.rating" class="movie-rating">
		<img ng-src="{{$ctrl.icons.starIcon}}">
		<span>{{$ctrl.movieData.rating}}</span>
	</div>
	<svg-icon class="delete-button"
	          ng-click="$ctrl.removeMovie($ctrl.movieData, $event)"
	          encoded-str="$ctrl.icons.removeIcon"></svg-icon>
</div>