@import "../../../styles/common";

.movies-list-item-wrapper{
  position: relative;
  background-color: #fff;
  box-shadow: $simpleBoxShadow;
  width: 200px;
  height: 300px;
  margin-right: 16px;
  border-radius: 4px;
  overflow: hidden;

  transition: transform .3s, box-shadow .3s;

  &:hover{
    cursor: pointer;
    box-shadow: $hoverBoxShadow;
    transform: scale(1.1);
    .delete-button {
      display: block;
      @include opacityHoverAnimation(.8, 1);
      svg{
        fill: $warnColor;
      }
    }
  }

  .delete-button {
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
  }

  .movie-preview{
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(0.6);
    -webkit-filter: brightness(0.8);
    background: url(../../../images/no-preview.png) center center;
  }

  .movie-name{
    position: absolute;
    color: #fff;
    bottom: 10px;
    width: 100%;
    text-align: center;
    text-shadow: $simpleTextShadow;
  }

  .movie-rating{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: $simpleTextShadow;
    color: #fff;
    top: 5px;
    right: 5px;
    font-size: 18px;
    font-weight: bold;

    img{
      margin-right: 3px;
    }
  }
}