<div class="countries-list-wrapper">
	<ajax-loader promise="$ctrl.promise"></ajax-loader>
	<h3>Страны</h3>
	<editable-list list-data="$ctrl.countries"
	               on-create="$ctrl.addNew()"
	               on-change="$ctrl.updateCountry(item)"
	               on-remove="$ctrl.removeCountry(item)"
	               options="$ctrl.editableListOptions"></editable-list>
</div>