<div class="genres-list-wrapper">
	<ajax-loader promise="$ctrl.promise"></ajax-loader>
	<h3>Жанры</h3>
	<editable-list list-data="$ctrl.genres"
	               on-create="$ctrl.addNew()"
	               on-change="$ctrl.updateGenre(item)"
	               on-remove="$ctrl.removeGenre(item)"
	               options="$ctrl.editableListOptions"></editable-list>
</div>