@import "../../../styles/common";

.movies-list-wrapper{
  h1{
    text-align: center;
  }
  .movies-list{
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    .add-new-button{
      width: 200px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-right: 16px;

      border: $dashedBorder;
      box-sizing: border-box;
      border-radius: 4px;

      color: $grey;

      @include hoverAnimation();

      svg{
        transition: fill .2s;
        width: 45px;
        height: 45px;
        fill: $grey;
      }
    }
  }
}

.add-new-button{
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 16px;

  border: $dashedBorder;
  box-sizing: border-box;
  border-radius: 4px;

  color: $grey;

  @include hoverAnimation();

  svg{
    transition: fill .2s;
    width: 45px;
    height: 45px;
    fill: $grey;
  }
}