<div class="genres-list-wrapper">
	<ajax-loader promise="$ctrl.promise"></ajax-loader>
	<h3>Режиссеры</h3>
	<editable-list list-data="$ctrl.directors"
	               on-create="$ctrl.addNew()"
	               on-change="$ctrl.updateDirector(item)"
	               on-remove="$ctrl.removeDirector(item)"
	               options="$ctrl.editableListOptions"></editable-list>
</div>