@import "../../../styles/common";

.app-header-wrapper{
  display: flex;
  justify-content: space-between;

  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding: 15px;
  font-size: 18px;

  box-shadow: $simpleBoxShadow;
}