/*@import "components/common/styles/variables.scss";*/

$defaultFontSize: 15px;
$labelTextColor: #6a6a6a;
$defaultBorder: solid #6a6a6a 1px;
$disabledColor: #6a6a6a;
$activeElementBorder: solid #3781e0 1px;
$activeElementBackgroundColor: #3781e0;
$borderError: red;
$borderWarning: yellow;

  .checkbox {
    margin: 0 0 12px 8px;
    font-weight: normal;

    label {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
      font-size: $defaultFontSize;
      color: $labelTextColor;
    }
    input { display: none; }
    span { display: inline-block; }
    .input-icon {
      height: 20px;
      width: 20px;
      box-sizing: border-box;
      margin-right: 8px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      border: $defaultBorder;
    }
    &.disabled {
      color: $disabledColor;
      opacity: 0.5;
    }
    &.checked .input-icon {
      position: relative;
      border: $activeElementBorder;
      background-color: $activeElementBackgroundColor;
      color: #fff !important;
      animation: checkboxActiveAnimation .3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      &:after {
        box-sizing: border-box;
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
        position: absolute;
        left: calc(50% - 3px);
        top: calc(50% - 8px);
        display: table;
        width: 6px;
        height: 13px;
        border-width: 2px;
        border-style: solid;
        border-top: 0;
        border-left: 0;
        content: '';
      }
    }

    &.has-error {
      .input-icon {
        border: $borderError;
      }
    }
    &.has-warning {
      .input-icon {
        border: $borderWarning;
      }
    }
  }

@keyframes checkboxActiveAnimation {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
