<div class="genres-list-wrapper">
	<ajax-loader promise="$ctrl.promise"></ajax-loader>
	<h3>Актеры</h3>
	<editable-list list-data="$ctrl.actors"
	               on-create="$ctrl.addNew()"
	               on-change="$ctrl.updateActor(item)"
	               on-remove="$ctrl.removeActor(item)"
	               options="$ctrl.editableListOptions"></editable-list>
</div>