@import "../../../styles/common";

$placeholderColor: #a7a6ab;
$iconGreyColor: #c5c5c5;
$defaultBorder: #979797;
$labelTextColor: #5c5c5c;

app-select{
  display: block;
}

.app-select-wrapper{
  position: relative;
}
.select-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  .selected-options-list{
    position: relative;
   /* height: 30px;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 7px;
    padding-right: 29px;
    margin-top: 0;
    background: #fff;
    border-radius: 4px;
    border: 1px solid $grey;
    box-sizing: border-box;

    &.focused{
      border: 2px solid $activeColor;
    }
    &.not_empty{
      padding: 3px 4px;
      padding-bottom: 0 !important;
      .search-input input{
        height: 24px;
        margin-bottom: 3px;
      }
    }

    &:after{
      content: "";
      position: absolute;
      display: block;
      right: 10px;
      width: 0;
      height: 0;
      top: 13px;
      border-color: #999 transparent transparent;
      border-style: solid;
      border-width: 5px 5px 0;
    }

    .selected-option{
      position: relative;
      height: 19px;
      border-radius: 4px;
      background-color: #f7f7f7;
      border: solid 1px $placeholderColor;
      padding: 0 6px;
      padding-right: 25px;
      margin-right: 4px;
      margin-bottom: 3px;
      span{
        line-height: 1.1;
        margin-top: -3px;
      }
      .remove-option{
        position: absolute;
        font-size: 21px;
        right: 8px;
        top: 2px;
        color: $iconGreyColor;
        font-weight: bold;
      }
    }

    .search-input{
      flex-grow: 1;
      line-height: 15px;
      input{
        height: 16px;
        line-height: 100%;
        font-size: 14px;
        width: 100%;
        border: none;
      }
    }

    li{
      display: inline-block;
    }
  }

  .select-dropdown{
    position: absolute;
    width: inherit;
    overflow-y: scroll;
    max-height: 200px;
    min-width: 50px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    margin-top: -1px;
    border: $defaultBorder;
    padding-left: 0;
    overflow: auto;
    box-shadow: $simpleBoxShadow;

    outline: 0;
    background-clip: padding-box;
    z-index: 1000;

    .select-option{
      padding: 3px 6px;
      list-style-type: none;

      .highlighted{
        //font-weight: bold;
        background: none !important;
        color: $activeColor;
      }

      &:hover:not(.disabled) {
        background-color: #f1f1f1;
        cursor: pointer;
      }
      &.disabled {
        color: #aaa;
      }
      &.selected {
        background: $activeColor !important;
        color: #fff;
        .highlighted{
          color: $labelTextColor;
        }
      }
    }
  }

  ul{
    margin-bottom: 0;
    li{
      list-style-type: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
    }
  }

  &.single_value{
    .select-option.selected .highlighted{
      color: #fff !important;
    }
  }

  &.disable_search{
    input[disabled]{
      background: none;
    }
    .selected-options-list{
      background-image: linear-gradient(#fff, #f7f7f7);
    }
  }

  &.over_vertical_limit{
    .select-dropdown{
      bottom: 100% !important;
    }
  }
}

.select-all-checkbox {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 6px;
  .checkbox{
    margin-bottom: 0;
  }
}

