@import "../../../styles/common";

.ajax-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 7000;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    .preloader {
        margin:50px auto;
        box-sizing:border-box;
        width:50px;
        height:50px;
        border-radius:50%;
        background:linear-gradient($activeColor -50%,rgba(61,175,161, 0.2) 60%);
        animation:roll-r 6s linear infinite;
    }

    .preloader>div {
        padding:5px;
        animation:roll-l 1s linear infinite;
    }
    .preloader>div:after {
        content:"";
        display:block;
        width:40px;
        height:40px;
        border-radius:50%;
        background:#fff;
    }

    @keyframes roll-r {
        0% {transform:rotate(0deg);}
        100% {transform:rotate(360deg);}
    }
    @keyframes roll-l {
        0% {transform:rotate(0deg);}
        100% {transform:rotate(-360deg);}
    }

}