<div class="movies-detail-wrapper">
	<ajax-loader promise="$ctrl.promise"></ajax-loader>
	<div class="info-wrapper">
		<div>
			<h2 class="movie-title">{{$ctrl.movieData.name}}</h2>
			<div class="movie-field film-directors-list">
				<span>Режиссер:</span>
				<span ng-repeat="director in $ctrl.movieData.filmDirectors">
						<span>{{director.name}}</span>
					<span ng-if="!$last">,</span>
				</span>
			</div>
			<div class="movie-field genres-list">
				<span>Жанр:</span>
				<span ng-repeat="genre in $ctrl.movieData.genres">
					<span>{{genre.name}}</span>
					<span ng-if="!$last">,</span>
				</span>
			</div>
			<div class="movie-field actors-list">
				<span>В ролях:</span>
				<span ng-repeat="actor in $ctrl.movieData.actors">
					<span>{{actor.name}}</span>
					<span ng-if="!$last">,</span>
				</span>
			</div>
			<div class="movie-field countries-list">
				<span>Страна:</span>
				<span ng-repeat="country in $ctrl.movieData.countries">
					<span>{{country.name}}</span>
					<span ng-if="!$last">,</span>
				</span>
			</div>
			<div class="movie-field budget">
				<span>Бюджет:</span>
				<span>{{$ctrl.movieData.budget}}</span>
			</div>
			<div class="movie-field year">
				<span>Год:</span>
				<span>{{$ctrl.movieData.year}}</span>
			</div>
			<div class="movie-field description">{{$ctrl.movieData.description}}</div>
		</div>
		<img class="movie-preview" ng-src="{{$ctrl.movieData.previewImage}}">
	</div>
	<button class="btn" ng-click="$ctrl.editMovie()">Редактировать</button>
</div>